<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hxuehh.rebirth"
    android:installLocation="auto"
    android:persistent="true"
    android:sharedUserId="su.android"
    android:versionCode="10000"
    android:versionName="1.0.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <!--二维码权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <!--@800工信#%remove%#-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--@800工信#%end%#-->
    <permission android:name="android.permission.DEVICE_POWER" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <permission android:name="android.permission.INSTALL_PACKAGES" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>



    <!-- the following 2 com.xiaomi.mipushdemo should be changed to your package name -->
    <permission
        android:name="com.hxuehh.rebirth.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.hxuehh.rebirth.permission.MIPUSH_RECEIVE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!--android:debuggable="true"-->

    <application
        android:name=".app.ProApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true"
        >


        <!--<meta-data-->
        <!--android:name="com.amap.api.v2.apikey"-->
        <!--android:value="46c64981880aa1012c32cdea4eb6d254" />-->

        <!-- 移动统计分析 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="'56264687'" />

        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />





        <service android:name=".server.Services.MainService_UDPreviceback_TCPLongLink" />

        <service android:name=".device.service.DeviceService_TCPLongLink_">
            <intent-filter>
                <action android:name="com.su.AbService_TCPLongLink_.TCP_heartbeat.device" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>

        <service android:name=".client.service.ClientService_TCPLongLink_">
            <intent-filter>
                <action android:name="com.su.AbService_TCPLongLink_.TCP_heartbeat.client" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>




        <activity
            android:name="com.hxuehh.rebirth.all.FaceAc.InitAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".all.FaceAc.FindAccessoryAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <!-- 接收该事件 -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>
            <!-- 校验数据 -->
            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter"></meta-data>
        </activity>

        <activity
            android:name="com.hxuehh.rebirth.all.FaceAc.SelectDeviceTypeAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.hxuehh.rebirth.client.faceAc.ShowDeviceCapacityAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.vibration.VibrationClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.screen.ScreenClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.location.Loc_GeographicClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".server.FaceAc.ServerOrDevice_InitAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.cameraFlashlight.CameraFlashLightClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.temperature.TemperatureClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.humidity.HumidityClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".client.faceAc.Client_InitAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".client.faceAc.Client_StatusAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".all.FaceAc.ServerDeviceServiceStatusAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.photograph.PhotographClientAc"
            android:configChanges="keyboardHidden|orientation"

            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".capacity.battery.BatteryClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.USBLinkSenser.USBLinkSenserClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".capacity.brightness.BrightnessClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.volume.VolumeClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.storage.StorageClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.memory.MemoryClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".capacity.OnTopActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".capacity.record.RecordClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.lightSensor.LightSensorClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.mediaPlayer.SUMediaPlayerClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>


        <activity
            android:name=".capacity.headsetSenser.HeadsetSenserClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".device.faceAc.AccessoryTestAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.USBcommunication.USBserializ.USBSerializClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.USBcommunication.USBGPIO.USBGPIOClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.voiceRecognition.VoiceRecognitionClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.voiceSynthesis.VoiceSynthesisPlayClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.accelerationSensor.AccelerationSensorClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.scene.SceneClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.video.SuVideoSenseClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".client.faceAc.Client_AccelerationSetting"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.screen.LockFaceAc.LockScreenAC"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.pluginInfrareBodySensor.PluginInfrareBodySensorClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".capacity.pluginHumiditySensor.PluginHumiditySensorClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".capacity.pluginTemperatureSensor.PluginTemperatureSensorClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".capacity.pluginIOInSensor.PluginIOInSensorClientAc"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>



<!--这个hi测试，绑定-->

        <activity
            android:name=".apFind.FaceAc.ApFindActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"></activity>






        <!--设备管理器-->
        <receiver
            android:name=".capacity.screen.LockFaceAc.AdminReceiver"
            android:description="@string/admin_descriptio"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/lock" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- 接收处理revice IntentService-->
        <service android:name="com.hxuehh.appCore.app.SuLongTaskIntentService" >
            <intent-filter android:priority="2147483647">
                <action android:name="com.hxuehh.rebirth.Service.SuReLife" />
            </intent-filter>
        </service>

        <!--网络-->
        <receiver
            android:name="com.hxuehh.appCore.app.SuNetReceiver"
            android:enabled="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- 激活APP监听-->
        <receiver
            android:name=".app.SuReLifeReceiver"
            android:enabled="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!--<action android:name="android.intent.action.TIME_TICK" />-->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="com.hxuehh.rebirth.SuReLife" />
            </intent-filter>
        </receiver>


        <!--<activity-->
        <!--android:name=".capacity.OnTopActivity"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:screenOrientation="portrait">-->

        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->
        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->


        <!--<activity-->
        <!--android:name="com.hxuehh.TaoCC.faceAc.MuYingMainActivity3"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/FullscreenNoBackground">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->
        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
        <!--</intent-filter>-->

        <!--</activity>-->


        <!--================================================================-->


        <!--@800mi#%add%#-->
        <activity
            android:name=".push.MiPush.MiPushMainActivity"
            android:label="mi test">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <receiver
            android:name=".push.MiPush.MIPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushService"
            />
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushService">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!--@800mi#%end%#-->

        <!-- 百度-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="2HYsOIQ361Qw5gRMtQrOzSKU" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":baidu_loc_remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>


    </application>

</manifest>
