<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.hxuehh.com" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="android.hxuehh.com.sucore.MainActivity"
            android:label="@string/app_name" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!--捕获异常-->
        <activity
            android:name="com.hxuehh.appCore.develop.DevShowErrAc"
            android:configChanges="keyboardHidden|orientation"
            android:process=":showErr"
            android:screenOrientation="portrait"></activity>

        <!--&lt;!&ndash;aidl 提供对外服务 可以再主进程 也可以不再主进程  &ndash;&gt;-->
        <!--&lt;!&ndash;android:process=":aidl_pro"&ndash;&gt;-->
        <!--<service-->
            <!--android:name="com.hxuehh.appCore.aidl.AidlServiceSetGetClass_CheckMain"-->
            <!--android:exported="true">-->
        <!--</service>-->
        <!--&lt;!&ndash; 必须是UI进程&ndash;&gt;-->
        <!--<service android:name="com.hxuehh.appCore.app.AidlstartCheckAppService" />-->

    </application>

</manifest>
